#inputPergunta{
    float: left;
    width: 70vw;
    height: 5vh;
    margin-left: 5%;
    outline: none;
}

#botaum{
    float: left;
    width: 20vw;
    height: 5vh;
    margin-top: 0;
    outline: none;
}

#imgShirley{
    float: left;
    background-image: url(../../assets/michaelzinho.jpg);
    background-repeat: no-repeat;
    background-size: 180% 180%;
    border-radius: 360px;
    width: 13vw;
    height: 7vh;
    margin: 1%;
}

#titulo{
    float: left;
    margin-left: 15%;
    margin-top: 5%; 
}
